* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
/* -----tags----- */

main {
    background-color: rgb(180,208,231);
    margin-bottom: 10%;
}

nav {
    background-color: white;
    padding: 5px 5px;
    
}

footer {
    background-color: black;
    color: white;
    padding: 5% 20%;
    width: 100%;
    height: 500px;
}

button {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0,97,255);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
     margin: 4px 2px;
    position: relative;
    left: 165px;
    cursor: pointer;
}

/* -----classes----- */

.jumbo {
    width: 50%;
    height: auto;
    position: relative;
    top: 80px;
    right: 5%;
}

.main-text p{
    position: relative;
    top: 100px;
    left: 28%;
}

.main-text h1 {
    text-align: center;
    position: relative;
    top: 50px;
}

.main-start button {
    position: relative;
    top: 250px;
}

.main-start p {
    width: 35%;
    position: relative;
    top: 270px;
    left: 10%;
}

.main-start span {
    position: relative;
    top: 290px;
    left: 10%;
}

.nav-li {
    display: inline-block;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    position: relative;
    left: 25%;
    cursor: pointer;
}

.nav-ul {
    list-style: none;
    display: inline-block;
}

.navl {
    position: relative;
    right: 5%;
    
}

.navr {
    position: relative;
    left: 30%;
    
}

.start {
    position: relative;
    left: 40%;
}

.sub, .partner, .info, .clients-head {
    padding: 0 15%;
}

.sub-container {
    margin-bottom: 30px;
}

.sub-container h1 {
    text-align: center;
}

.radio {
    position: relative;
    left: 2%;
}

.sub-plans {
    margin: 0 20px;
    border: solid 1px;
    width: 30%;
    height: 750px;
    padding: 0 20px 30px;
    
}

.sub-plans *, .clients-head {
    line-height: 200%;
}

.sub-head {
    text-align: center;
    border-bottom: solid 1px;
    font-size: 18px;
    padding: 5px 20px;
}

.sub-button {
    position: relative;
    left: 15%;
}

.sub-ul {
    list-style: none;
    font-weight: 500;
    font-size: 15px;
}

.sub-custom {
    margin: 0 20px;
    border: solid 1px;
    width: 97%;
    height: 250px;
    padding: 0 20px 30px;
}

.custom-head {
    text-align: center;
    border-bottom: solid 1px;
    font-size: 18px;
    padding: 5px 20px;
}

.custom-body{
    padding-top: 2%;
    line-height: 200%;
}

.custom-body button {
    position: relative;
    left: 80%;
}

.partner {
    width: 100%;
    height: auto;
    margin: 7% 0;
}

.partner-pic {
    width: 43%;
    margin: 0 5% 0 2%;
}

.partner-body {
    position: relative;
    top: 150px;
}

.partner-body button {
    border: solid 1px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
     margin: 4px 2px;
    position: relative;
    left: 165px;
    cursor: pointer;
    position: relative;
    top: 30px;
    left: 0%;
}

.info-box {
    width: 30%;
    height: 45%;
    margin:20px;
}

.box-pic {
    width: 400px;
    height: auto;
}

.client-body {
    width: 100%;
    height: auto;
}

.client-left {
    width: 33.333%; 
    height: 550px;
}

.client-mid {
    width: 33.333%;
    height: 550px;
    background-color: rgb(245,245,245);
    padding: 7% 3%;
}

.client-right {
    width: 33.333%;
    height: 550px;
}

.client-left img, .client-right img {
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.brand1, .brand2, .brand3, .brand4, .brand5, .brand6, .brand7, .brand8 {
    width: 50%;
    height: 50%;
}

.brand1 {
    background-color: rgb(162,211,155);
}

.brand2 {
    background-color: rgb(97,8,43);
}

.brand3 {
    background-color: rgb(0,147,206);
}

.brand4 {
    background-color: rgb(255,28,28);
}

.brand5 {
    background-color: rgb(213,0,31);
}

.brand6 {
    background-color: rgb(180,208,231);
}

.brand7 {
    background-color: rgb(13,36,129);
}

.brand8 {
    background-color: rgb(255,216,48);
}

.trial {
    background-color: rgb(180,208,231);
    padding: 4% 45% 4% 20%;

}

.trial button {
    border: solid 1px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
     margin: 4px 2px;
    position: relative;
    left: 165px;
    cursor: pointer;
    position: relative;
    bottom: 80px;
    left: 100%;
}

.trial h1 {
    color: rgb(97,8,43);
}

.faq {
    line-height: 200%;
    padding: 5% 10%;
}

.faq-container ul {
    list-style: none;
}

.footer-sub {
    width: 18%;
    margin-right: 2%;
    line-height: 200%;
}

.check {
    color: rgb(0,97,255);
}

.arrow {
    width: 25px;
    height: 25%;
    position: relative;
    bottom: 15px;
    left: 95%;
    cursor: pointer;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* -----id's----- */

#mid-client-img {
    width: 20%;
}

#footer-lang {
    color: rgb(97,97,97);
    width: 10%;
    position: relative;
    top: 20px;
}

#footer-lang p {
    cursor: pointer;
}