* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
/* -----tags----- */

main {
    background-color: rgb(180,208,231);
    margin-bottom: 10%;
}

nav {
    background-color: white;
    padding: 5px 5px;
    
}

button {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0,97,255);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
     margin: 4px 2px;
    position: relative;
    left: 165px;
    cursor: pointer;
}

/* -----classes----- */

.jumbo {
    width: 50%;
    height: auto;
    position: relative;
    top: 80px;
    right: 5%;
}

.main-text p{
    position: relative;
    top: 100px;
    left: 28%;
}

.main-text h1 {
    text-align: center;
    position: relative;
    top: 50px;
}

.main-start button {
    position: relative;
    top: 250px;
}

.main-start p {
    position: relative;
    top: 270px;
    left: 10%;
}

.main-start span {
    position: relative;
    top: 290px;
    left: 10%;
}

.nav-li {
    display: inline-block;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    position: relative;
    left: 25%;
    cursor: pointer;
}

.nav-ul {
    list-style: none;
    display: inline-block;
}

.navl {
    position: relative;
    right: 5%;
    
}

.navr {
    position: relative;
    left: 30%;
    
}

.start {
    position: relative;
    left: 40%;
}

.sub, .partner, .info, .clients-head, .faq {
    padding: 0 15%;
}

.sub-container {
    margin-bottom: 30px;
}

.sub-container h1 {
    text-align: center;
}

.radio {
    position: relative;
    left: 2%;
}

.sub-plans {
    margin: 0 20px;
    border: solid 1px;
    width: 30%;
    height: 750px;
    padding: 0 20px 30px;
    
}

.sub-plans * {
    line-height: 200%;
}

.sub-head {
    text-align: center;
    border-bottom: solid 1px;
    font-size: 18px;
    padding: 5px 20px;
}

.sub-button {
    position: relative;
    left: 15%;
}

.sub-ul {
    list-style: none;
    font-weight: 500;
    font-size: 15px;
}

.sub-custom {
    margin: 0 20px;
    border: solid 1px;
    width: 97%;
    height: 250px;
    padding: 0 20px 30px;
}

.custom-head {
    text-align: center;
    border-bottom: solid 1px;
    font-size: 18px;
    padding: 5px 20px;
}

.custom-body{
    padding-top: 2%;
    line-height: 200%;
}

.custom-body button {
    position: relative;
    left: 80%;
}

.partner {
    width: 100%;
    height: auto;
    margin: 7% 0;
}

.partner-pic {
    width: 43%;
    margin: 0 5% 0 2%;
}

.partner-body {
    position: relative;
    top: 150px;
}

.partner-body button {
    border: solid 1px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
     margin: 4px 2px;
    position: relative;
    left: 165px;
    cursor: pointer;
    position: relative;
    top: 30px;
    left: 0%;
}

.info-box {
    width: 30%;
    height: 45%;
    margin:20px;
}

.box-pic {
    width: 400px;
    height: auto;
}

.check {
    color: rgb(0,97,255);
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* -----id's----- */
